<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Reed Mullanix">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reed Mullanix's Blog</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>site/templates/header.html}}
        <ul>
            <li> Email: reedmullanix@gmail.com </li>
            <li> Github: <a href="https://github.com/TOTBWF/">TOTBWF</a> </li>
        </ul>
        {{>site/templates/footer.html}}
    </body>
