<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="Reed Mullanix">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Reed Mullanix's Blog</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        {{>site/templates/header.html}}
    <div id="page">
        <section>
            <h1>Posts</h1>
            {{>site/templates/post-list.html}}
        </section>
    </div>
    {{>site/templates/footer.html}}
